table, th, td {
  border: 1px solid;
  margin: 5px;
}

.divMontarSopa{
  display: none;
}

.letra-view {
  width: 20px;
  height: 20px;
  border: 1px solid #aaa;
  background-color: white;
  font-weight: bold;
  cursor: pointer;
  transition: 0.2s;
}